# Dependencies
/node_modules

# Testing
/coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Production
/build

# Miscellaneous
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor
.idea
